.side {
  background-image: url("../../assets/teacher/Frame\ 1.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.check {
  max-width: 500px;
  margin: auto;
}

.customBtn {
  margin: auto;
  width: 250px;
  text-align: center;
  padding: 15px;
  background-color: #b96d37;
  color: white;
  border-radius: 50px;
}
.customBtn:hover {
  background-color: #b96d37e3;
}
.heading1 {
  font-weight: 600;
  font-size: 40px;

  color: #bb7848;
}
