.customInput {
  background-color: #edecec;
  margin: auto;
  border-radius: 50px;
  width: 500px;
}

.inp {
  flex: 1;
  background-color: #edecec;
  border: none;
  padding-left: 10px;
  border-left: 1px solid grey;
  outline: none;
}

.err {
  border: 1px solid red;
}
.svgs path {
  stroke: red;
}
